body
{
	background-color: #303030;
	font-family: 'Ubuntu Condensed', sans-serif;
}

#container
{
	width: 92%;
	margin-left: auto;
	margin-right: auto;
}

#logo
{
	color: white;
	font-size: 35px;
	font-weight: 900;
	letter-spacing: 3px;
	padding-left: 30px;
	margin-top: 18px;
}

#topbar
{

}

#menu
{
	background-color: #303030;
	margin-top: 20px;
	color: #FFFFFF;
	padding: 10px;
}

#topbar2
{
	float: left;
	color: black;
	font-size: 20px;
	background-color: #e24e44;
	min-height: 130px;
	width: 94%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
}

#content
{
	float: left;
	width: 94%;
	margin-top: 20px;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 10px;
	padding-bottom: 30px;
	background-color: #DDDDDD;
	min-height: 520px;
}



#footer
{
	color: #ffffff;
	margin-top: 1%;

}

.option
{
	float: left;
	min-width: 50px;
	height: 25px;
	font-size: 18px;
	padding: 10px;
	border-right: 2px dashed #444444;
	opacity: 0.8;
	
}

.option:hover
{
	background-color: #e24e44;
	cursor: pointer;
}

/*.option2:hover
{
	background-color: #e24e44;
	color: white;
	cursor: pointer;
	
}
*/

a:link, a:visited
{
	color: #ffffff;
	text-decoration: none;

}

.tg  
{
	border-collapse: collapse;
	border-spacing: 0;
}

.tg td
{
	font-size: 14px;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	word-break: normal;
	border-color: black;
	
}
.tg th
{
	font-size: 14px;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	word-break: normal;
	border-color:black;
}

.tg .tg-0lax
{
	text-align: center;
}
				




