body
{
	background-color: #303030;
	font-family: 'Ubuntu Condensed', sans-serif;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#logo
{
	color: white;
	font-size: 35px;
	font-weight: 900;
	letter-spacing: 3px;
	padding-left: 30px;
	margin-top: 18px;
}

#topbar
{

}

#menu
{
	background-color: #303030;
	margin-top: 20px;
	color: #FFFFFF;
	padding: 10px;
}

#topbar2
{
	float: left;
	color: black;
	font-size: 20px;
	background-color: #CBF0AF;
	height: 130px;
	width: 940px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
}


#sidebar
{
	width: 197px;
	border-right: 3px dashed #777777;
	float: left; 
	margin-top: 20px;
	background-color: #DDDDDD;
	min-height: 600px;
}

#content
{
	float: left;
	width: 940px;
	margin-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 30px;
	background-color: #DDDDDD;
	min-height: 580px;
}



#footer
{
	
}

.option
{
	float: left;
	min-width: 50px;
	height: 25px;
	font-size: 18px;
	padding: 10px;
	border-right: 2px dashed #444444;
	opacity: 0.8;
	
}

.option:hover
{
	background-color: #f36742;
	cursor: pointer;
}

/*.option2:hover
{
	background-color: #f36742;
	color: white;
	cursor: pointer;
	
}
*/

a:link, a:visited, a:hover, a:active {
	color: #ffffff;
	text-decoration: none;

  }
  





